.mid-section {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    padding: 25px;
}

.divider, .line-item {
    background: $main-dark;
    display: flex;
    flex-direction: row;
    border-radius: 4px;
    > input, span, div {
        color: #fff;
        text-align: right;
        font-size: 1rem;
        font-weight: 300;
        height: 35px;
        background: none;
        padding-right: 8px;
        border: none;
        margin: 2px;
    }
    > .itm-d {
        text-align: left;
        padding-left: 8px;
    }
    > input {
        width: 20%;
    }
    > div, .amt-d {
        width: 25%;
    }
    > input:first-child {
        width: 85%;
    }
    > input:hover {
        cursor: pointer;
        background: lighten($main-dark, 10%);
    }
    > span {
        width: 5%;
    }
}

.line-item {
    background: none;
    transition: all .2s linear;
    > input, span, div {
        color: $main-dark;
    }
    > input {
        border: 1px solid $lBorder;
    }
    > .rate-span {
        border: none;
        display: block;
        font-family: 'Montserrat', sans-serif;
        text-align: right;
        line-height: 35px;
        overflow: hidden;
        text-overflow: ellipsis;
        margin-top: 4px;
    }
    > input:hover {
        cursor: pointer;
        background: none;
    }
    > span {
        display: flex;
        align-items: center;
        visibility: hidden;
        padding: 0 4px;
        > i {
            font-size: 1.4rem;
            color: $main-dark;
        }
        > i:hover {
            cursor: pointer;
            color: $main-red;
        }
    }
}

.divider {
    margin-bottom: 2px;
}

.line-item:hover .close-btn {
    cursor: pointer;
    visibility: visible;
}

#line-item-btn {
    margin-top: 2px;
    padding: 10px 0;
    background: $btn-blue;
    border: none;
    color: #fff;
    font-size: 1rem;
    font-weight: 500;
    width: 125px;
    border-radius: 4px;
    transition: all .2s linear;
    > i {
        color: #fff;
        padding-right: 4px;
    }
}

#line-item-btn:hover {
    cursor: pointer;
    background: darken($btn-blue, 3%);
}

#line-item-btn:focus {
    outline: none;
}