@import "_reset.scss";
@import "_variables.scss";
@import "_midsection.scss";
@import "_bottomsection.scss";
@import "_aboutmodal.scss";

* {
    font-family: 'Raleway', sans-serif;
    color: $dBorder;
}

html {
    font-size: 14px;
}

body {
    background: #fff;
    font-size: 62.5%;
    overflow: visible !important;
    padding-right: 0 !important;
}

h1 {
    font-size: 1rem;
    margin-top: 20px;
    margin-bottom: 20px;
}

input, textarea {
    border-radius: 4px;
}

.top-section {
    padding: 25px;
    display: flex;
    justify-content: space-between;
    height: 420px;
}

.top-col-1, .top-col-2 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.top-col-1 {
    width: 45%;
}

.top-col-2 {
    width: 50%;
    align-items: flex-end;
}

#img-select {
    position: relative;
    background-image: url('');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #F8F9F9;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 1px $lBorder;
    width: 250px;
    height: 150px;
}

#file {
    display: none;
}

.fa-upload {
    font-size: 4rem;
    color: $lBorder;
    transition: all .2s linear;
}

.fa-upload:hover {
    cursor: pointer;
    color: darken($lBorder, 20%);
}

#remove-img {
    background: $dBorder;
    border: none;
    border-radius: 4px;
    display: none;
    position: absolute;
    top: 8px;
    left: 8px;
    transition: all .2s linear;
    > i {
        font-size: 1.6rem;
        color: #fff;
    }
}

#remove-img:hover {
    background: $main-red;
    cursor: pointer;
}

.inv-group {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.inv {
    background: none;
    text-decoration: none;
    transition: all .2s linear;
    text-align: right;
    color: $main-dark;
    border: 1px solid transparent;
    width: 95%;
    font-size: 3rem;
    margin-bottom: 10px;
    padding-right: 10px;
    font-weight: 100;
}

.inv-num-group {
    display: flex;
    background: none;
    border: 1px solid $lBorder;
    border-radius: 4px;
    > span {
       font-size: 1.4rem;
       padding: 10px 14px;
       background: #E6E9EA;
    }
    > #inv-num {
        position: relative;
        text-align: right;
        padding-right: 8px;
        border: none;
        font-size: 1rem;
    }
}

.inv:hover, .inv:focus,
.text-billto:hover, .text-billto:focus {
    cursor: pointer;
    border: 1px solid $lBorder;
    border-radius: 4px;
    outline: none;
}

.text-from, .text-to {
    border: 1px solid $lBorder;
    font-weight: 400;
    font-size: 1rem;
    background: none;
    padding-left: 10px;
    transition: all .2s linear;
    color: $main-dark;
    height: 75px;
    padding-top: 8px;
    resize: none;
}

.text-billto {
    border: 1px solid transparent;
    margin-bottom: -29px;
    height: 35px;
    font-weight: 400;
    font-size: 1rem;
    background: none;
    text-decoration: none;
    padding-left: 10px;
    transition: all .2s linear;
    color: $main-dark;
}

.text-from:hover, .text-to:hover,
#inv-num:hover {
    cursor: pointer;
}

.dp-group {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    > div input, div span {
        background: none;
        height: 35px;
        transition: all .2s linear;
        font-size: 1rem;
        margin-bottom: 4px;
    }
    > div input:first-child {
        border: 1px solid transparent;
        text-align: right;
        padding: 4px 8px 0 0;
    }
    > div input:first-child:hover {
        cursor: pointer;
        border: 1px solid $lBorder;
        border-radius: 4px;
        outline: none;
    }
    > div input:nth-child(2),
    .cal {
        cursor: pointer;
        border: 1px solid $lBorder;
        padding: 4px 0 0 8px;
    }
    > div span {
        font-family: 'Montserrat', sans-serif;
        padding-left: 8px;
    }
    .balance-group {
        background: lighten($lBorder, 15%);
        border-radius: 4px;
        font-weight: 600;
        > input {
            font-weight: 600;
        }
    }
}

#preview-container {
    border: 1px solid $main-dark;
    width: 100vw;
    height: 100vh;
}